<div class="chat__item {{this.active}}">
				<img src="../assets/ellipse.png" alt="" class="chat__item-img">
				<div class="chat__item-profile">
					<div class="chat__item-name">{{this.name}}</div>
					<div class="chat__item-message">{{this.message}}</div>
				</div>
				<div class="chat__item-date">{{this.date}}</div>
				<div class="chat__item-notification">{{this.notification}}</div>
			</div>